*{
    background-color: rgb(30, 228, 30);
    
}
h1{
    padding: 45px;
    text-align: center;
    color: gold;
    background-color: black;
    margin: 10px;
}
.container{
    background-color: rgb(15, 2, 5);
    padding: 50px;
    margin: 50px;
}
.container input{
    width: 800px;
    height: 50px;
    margin: 2rem;
    color: black;
    background-color: white;
}
button{
    width: 100px;
    height: 50px;
    border-radius: 6px;
    box-shadow: 6px;
    color: blue;
}
#img1,#img3{
    width: 500px;
    height: 400px;
}